<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="wrapper">
    <a href="/cameraview"><button>Camera View</button></a>
    <a href="/release"><button>Classroom Search</button></a>
    <a href="/logout"><button>Sign Out</button></a>
</div>
</body>
</html>
