<!DOCTYPE html>
<html lang="en">

<style>

    table {
        font-family: Bahnschrift, sans-serif;
        font-size: 13px;
        border-collapse: collapse;
        margin: 5px;
    }

    td, th {
        border: 1px solid #a8a8a8;
        padding: 5px;
    }

    th {
        background-color: #ffffff;
        font-size: 14px;
        padding: 7px;
    }

    tr:nth-child(odd) {
        background-color: #ececec
    }

    tr:hover {
        background-color: #c9c9c9;
    }

    tr:active, th:active {
        background-color: #646464;
    }

    .buttonSection {
        padding: 10px;
    }

</style>

<script>
    //Set up our boolean for Ascending/Descending sort
    let sortDirection = false;
    //Import our database as an array of each cell with all special characters removed
    let studentsTemp = [{{ students | tojson | safe }}];
    let carsTemp = [{{ cars | tojson | safe }}]
    //Initialize other various vars we'll need
    let student_tableData = [];
    let car_tableData = [];
    let tempInt = 0;

    //Concatenate our array of cells into one string, then split the string at the commas
    //This polishes the data so we can easily work with it
    studentsTemp = studentsTemp.toString();
    student_normalArray = studentsTemp.split(',');

    //This for loop populates our student_tableData table-array with the data from our array of cells
    //I deemed it a table-array because each element acts as a row, holding 5 other elements that count as the
    //columns for that row.
    //In order to populate it, we take the first 5 elements of our normal array and store them as individual elements
    //in our table-array. Then, we increment our for loop by 5, landing us at the next student id in the normal array,
    //as well as increment tempInt by 1, which acts as a counter for which row we're on in the table-array.
    //Once finished, this leaves us with an array formatted for easy use with a table.
    for (let i = 0; i < student_normalArray.length; i = i + 5)
    {
        student_tableData[tempInt] = { id: student_normalArray[i], firstName: student_normalArray[i+1], lastName: student_normalArray[i+2], classNumber: student_normalArray[i+3], checkedOut: student_normalArray[i+4] }
        tempInt++;
    }
    
    //Do the same thing for the car table
    carsTemp = carsTemp.toString();
    car_normalArray = carsTemp.split(',');
    tempInt = 0;

    console.log(car_normalArray);

    for (let j = 0; j < car_normalArray.length; j = j + 6)
    {
        car_tableData[tempInt] = { carPlate: car_normalArray[j], carMake: car_normalArray[j+1], carModel: car_normalArray[j+2], carColor: car_normalArray[j+3], id: car_normalArray[j+4], guest: car_normalArray[j+5]}
        console.log("here!");
        tempInt++;
    }

    window.onload = () => {
        loadTableData(student_tableData);
        loadCarTableData(car_tableData)
    }

    //Function to load our student table's data dynamically
    function loadTableData(student_tableData)
    {
        //Set a constant variable to refer to studentTable defined in our HTML
        const tableBody = document.getElementById('studentTable');
        //Set up our input data variable as an empty string
        let dataHtml = '';

        //Iterate through our table of student data and append each row to dataHtml
        for(let student of student_tableData)
        {
            dataHtml += `<tr onclick="testFunc()"><td>${student.id}</td>
                        <td>${student.firstName}</td>
                        <td>${student.lastName}</td>
                        <td>${student.classNumber}</td>
                        <td>${student.checkedOut}</td>`;
        }

        //Set our table's body to all the data housed within dataHtml
        tableBody.innerHTML = dataHtml;
    }

    //Function to load our car table's data dynamically
    function loadCarTableData(student_tableData)
    {
        //Set a constant variable to refer to carTable defined in our HTML
        const tableBody = document.getElementById('carTable');
        //Set up our input data variable as an empty string
        let dataHtml = '';

        console.log(car_tableData);

        //Iterate through our table of car data and append each row to dataHtml
        for(let car of car_tableData)
        {
            dataHtml += `<tr onclick="testFunc()"><td>${car.carPlate}</td>
                        <td>${car.carMake}</td>
                        <td>${car.carModel}</td>
                        <td>${car.carColor}</td>
                        <td>${car.guest}</td>`;
        }

        //Set our table's body to all the data housed within dataHtml
        tableBody.innerHTML = dataHtml;
    }

    function sortColumn(columnName)
    {
        //Set a constant variable that grabs the first element in the columnName
        //column and returns its data type
        const dataType = typeof student_tableData[0][columnName];

        //Negate our sortDirection so it sorts the other way around
        sortDirection = !sortDirection;

        returnSortedColumn(sortDirection, columnName);

        //Reload our table data
        loadTableData(student_tableData);
    }

    function returnSortedColumn(sortDirection, columnName)
    {
        //Sort all the column's elements based on the boolean:
        //If true, Ascending. If false, Descending.
        //Ngl no idea why this works but it does so ¯\_(ツ)_/¯
        student_tableData = student_tableData.sort((s1, s2) =>
        {
            return sortDirection ? -(s1[columnName] < s2[columnName]) :
                -(s1[columnName] > s2[columnName])
        });
    }

    function testFunc()
    {
        console.log("here!");
    }

</script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div class="tableSection">
        <table style="float: left;">
            <thead>
            <tr>
                <th onclick="sortColumn('id')">Student ID</th>
                <th onclick="sortColumn('firstName')">First Name</th>
                <th onclick="sortColumn('lastName')">Last Name</th>
                <th onclick="sortColumn('classNumber')">Classroom</th>
                <th onclick="sortColumn('checkedOut')">Checked Out?</th>
            </tr>
            </thead>
            <tbody id="studentTable"></tbody>
        </table>
        <table style="float: left">
            <thead>
            <tr>
                <th onclick="sortColumn('carPlate')">License Plate</th>
                <th onclick="sortColumn('carMake')">Make</th>
                <th onclick="sortColumn('carModel')">Model</th>
                <th onclick="sortColumn('carColor')">Color</th>
                <th onclick="sortColumn('guest')">Guest?</th>
            </tr>
            </thead>
            <tbody id="carTable"></tbody>
        </table>
    </div>
    <div class="buttonSection" style="clear: both">
        <button type="button">Add Student</button>
        <button type="button">Edit Student</button>
        <button type="button">Remove Student</button>
    </div>
</body>

</html>